@import url("https://fonts.googleapis.com/css?family=Codystar:300&display=swap");

body {
  font-family: "Titan One", sans-serif;
  width: 100vw;
  height: 100vh;
  color: white;
  background-image: linear-gradient(
    to right bottom,
    #747474,
    #7893ab,
    #4cbbce,
    #44e2c3,
    #a9ff91
  );
  overflow: hidden;
  animation: bluring 0.5s ease-out forwards;
}

.initialScreen {
  background-color: white;
  border-radius: 10px;
  padding: 1rem;
  width: 50%;
  margin: 10% auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px dotted rgb(194, 208, 255);
  /* box-shadow: 0px 7px 15px -1px rgba(0, 0, 0, 0.75); */
}

.gameTitle {
  font-weight: bold;
  font-size: 5rem;
  letter-spacing: 3px;
  text-shadow: 4px 3px 0 #7a7a7a;
  /* text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 5px 1px #919191, 1px 9px 3px rgba(16, 16, 16, 0.4),
    1px 11px 5px rgba(16, 16, 16, 0.2), 1px 12px 15px rgba(16, 16, 16, 0.2),
    1px 15px 30px rgba(16, 16, 16, 0.4); */
}

.selectGame {
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.vsComputer,
.vsPlayer {
  width: 12rem;
  padding: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #007fff;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.vsComputer:hover,
.vsPlayer:hover {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 4px 1px #919191, 1px 5px 1px #919191, 1px 6px 1px #919191,
    1px 7px 1px #919191, 1px 8px 1px #919191, 1px 9px 1px #919191,
    1px 5px 1px #919191, 1px 9px 3px rgba(16, 16, 16, 0.4),
    1px 11px 5px rgba(16, 16, 16, 0.2), 1px 12px 15px rgba(16, 16, 16, 0.2),
    1px 15px 30px rgba(16, 16, 16, 0.4);
}

.vsComputer:focus,
.vsPlayer:focus {
  outline: none;
}

i {
  color: white;
}

.infos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  letter-spacing: 3px;
  color: white;
}

.currentPlayer {
  padding: 0 5px 15px 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.display-player {
  width: 50px;
  height: 50px;
}

.red {
  background-color: #e53030;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
}

.yellow {
  background-color: #ffc334;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
}

.buttonsInfos {
  width: 15%;
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
}

.restart,
.back {
  width: 6rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #007fff;
  font-weight: bold;
  color: white;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}

.restart:hover,
.back:hover {
  text-shadow: 1px 1px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 2px 1px #919191, 1px 2px 1px #919191, 1px 3px 1px #919191,
    1px 3px 1px #919191, 1px 4px 1px #919191, 1px 4px 1px #919191,
    1px 2px 1px #919191, 1px 4px 3px rgba(16, 16, 16, 0.4),
    1px 5px 2px rgba(16, 16, 16, 0.2), 1px 6px 7px rgba(16, 16, 16, 0.2),
    1px 7px 15px rgba(16, 16, 16, 0.4);
}

.restart:focus,
.back:focus {
  outline: none;
}

#result {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, 0);
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
  pointer-events: none;
}

#connectBoard {
  height: 73vh;
  width: 98vh;
  position: absolute;
  left: 50%;
  top: 53.5%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  height: 60vh;
  width: 70vh;
  overflow-y: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.grid div {
  height: 10vh;
  width: 10vh;
  cursor: pointer;
}

.player-one {
  background-color: #e53030;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #c91919 inset, 0 5px 5px rgba(65, 8, 8, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(1, -0.03, 0.25, 0.27);
}

.player-two {
  background-color: #ffc334;
  border-radius: 100%;
  box-shadow: 0 -2px 0 3px #ffb401 inset, 0 5px 5px rgba(103, 73, 0, 0.17),
    0 15px rgba(255, 255, 255, 0.25) inset;
  animation-duration: 1s;
  animation-name: slidein;
  animation-timing-function: cubic-bezier(1, -0.03, 0.25, 0.27);
}

.winner {
  animation-duration: 1s;
  animation-name: winnerGlow;
  animation-iteration-count: infinite;
}

@keyframes bluring {
  from {
    filter: blur(10px);
  }
  to {
    filter: blur(0);
  }
}

@keyframes slidein {
  0% {
    transform: translateY(-100vh);
  }
  50% {
    transform: translateY(0);
  }
  60% {
    transform: translateY(-10vh);
  }
  70% {
    transform: translateY(-5vh);
  }
  80% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(-2.5vh);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes winnerGlow {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.4;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 960px) {
  .initialScreen {
    width: 75vw;
    height: 50vh;
    margin: 25% auto;
  }

  .gameTitle {
    font-size: 3rem;
    text-align: center;
  }

  .selectGame {
    height: 50vh;
    width: 100%;
    margin-bottom: 0px;
  }

  .vsComputer,
  .vsPlayer {
    width: 7.5rem;
    padding: 1rem;
    font-size: 10px !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #007fff;
    font-family: "Titan One";
    font-weight: bold;
    color: white;
    border-radius: 10px;
    cursor: pointer;
    border: none;
  }

  .infos {
    width: 90vw;
    justify-content: space-between;
    margin: auto;
    font-size: 10px;
  }

  .currentPlayer {
    width: 100px;
    text-align: center;
    padding: 0 5px 5px 5px;
  }

  .buttonsInfos {
    width: 200px;
  }

  .restart,
  .back {
    background-color: transparent;
    width: 100px;
    padding: 8px;
  }

  #result {
    top: 15%;
  }

  .display-player {
    width: 25px;
    height: 25px;
  }

  #connectBoard {
    height: 73vw;
    width: 98vw;
    left: 50%;
    top: 52%;
  }

  .grid {
    height: 60vw;
    width: 70vw;
  }

  .grid div {
    height: 10vw;
    width: 10vw;
  }
}
